// Flexbox
.d-flex{ display: flex; }
.just-between{ justify-content: space-between; }
.just-center{ justify-content: center; }
.align-center{ align-items: center; }

// Display
.hidden{ display: none; }
.box-size{ box-sizing: border-box; }
.m-auto{ margin: auto; }

// Font
.italic{ font-style: italic; }
.h3{ font-size: $sizeH3; }