.button-infos{
    padding: 8px 35px;
    border-radius: 15px;
    cursor: pointer;
    border: 0;
    color: $colLink;
    background-color: $colButton;
    display: block;
}

.arrow-previous{
    cursor: pointer;
    margin: 10px;
    border: solid $colArrow;
    border-width: 0 7px 7px 0;
    display: inline-block;
    padding: 20px;
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

.arrow-next{
    cursor: pointer;
    margin: 10px;
    border: solid $colArrow;
    border-width: 0 7px 7px 0;
    display: inline-block;
    padding: 20px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.modal-background{
    z-index: 1;
    top: 0;
    width: 100vw;
    height: 100vh;
    position: fixed;
    background-color: rgba(63, 63, 63, 0.3);
    left: 150%;
    transition: 1s ease-in-out;

    .modal{
        position: relative;
        padding: 12px;
        background-color: $backgroundSecondary;
        top: 50%;
        transform: translateY(-50%);
        height: calc(100vh - 32px);
        overflow-y: scroll;
        width: max-content;
        
        .close{
            position: fixed;
            right: 0;
            width: 30px;
            height: 30px;
            cursor: pointer;
        }
}


    .close::before, .close::after{
        position: relative;
        top: 50%;
        display: block;
        content: "";
        height: 5px;
        background-color: $colButton;
        border-radius: 3px;
    }
    
    .close::before{
        transform:rotate(45deg) translateY(-25%) translateX(-7%);
    }

    .close::after{
        transform: rotate(-45deg) translateY(-100%)translateX(15%);
    }
}

.modal-background.active{
    transform: translateX(-150%);
}

.modal > .title{
    margin-top: 45px;
}
.modal > *{
    margin: 15px;
}