#best-movie{
    width: max-content;
    padding: 50px 45px;
    background: $backgroundDegrade;
    border-radius: 12px;

    > div{
        flex-direction: column;

        div:nth-of-type(2) > *{
            text-align: center;
            margin: 8px;
        }
        
        div:nth-of-type(2) > .button-infos{
            margin: 8px auto;
        }

    }
    > img{
        max-width: 50%;
        height: auto;
    }
}


.section-list{
    > p{
        margin: 50px 45px 0px
    }
    
    .list{
        overflow-x: hidden;
        margin: 15px 45px 50px;

        .content{
            overflow-x: hidden;

            > div{
                margin: 0 20px;
            }
        }
    }
}
